.card-body{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px ;
}
.re-layover{
    background-color: aquamarine;
    border-radius: 50px;
}
.re-card{
    border-radius: 20px;
    box-shadow: 5px ;
    
}
.re-butoon{
    margin-right: 10px;
}
.btn-coupan{
  margin-left: 5px;
}
.re-card-mib{
    background-color: #f4f4f4;
    margin-top: 10px;
}
.re-seat{
    margin-top: 13px;
}
.open-button {
    background-color: red;
    color: white;
    padding-top: 13px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 13px;
    right: 28px;
    width: 221px;
    border-radius: 10px;
  }